.logo2{
    float:right;
    image-orientation:center;
    margin: 9px;
    border: solid 5px;
    border-color:black;
}
.lis{
    color:  black;
    font-size: 20px;
    font-family: fantasy;
}
#titu{
    color:darkolivegreen;
    font-size: 30px
}
#h1{
    font-size: 45px;
    color:;
    background-color:darkseagreen;
    text-align: center;
}
h5{
    font-size: 19px;
    color:darkgreen;
}